<a href="https://colab.research.google.com/github/HauwaUmar/Air-Quality-Index-Prediction/blob/main/air_quality_index_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

dataset = pd.read_csv('pollution_2000_2021.csv')

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608699 entries, 0 to 608698
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               608699 non-null  object
 1   Year               608699 non-null  int64
 2   Month              608699 non-null  int64
 3   Day                608699 non-null  int64
 4   Address            608699 non-null  object
 5   State              608699 non-null  object
 6   County             608699 non-null  object
 7   City               608699 non-null  object
 8   O3 Mean            608699 non-null  float64
 9   O3 1st Max Value   608699 non-null  float64
 10  O3 1st Max Hour    608699 non-null  int64
 11  O3 AQI             608699 non-null  int64
 12  CO Mean            608699 non-null  float64
 13  CO 1st Max Value   608699 non-null  float64
 14  CO 1st Max Hour    608699 non-null  int64
 15  CO AQI             608699 non-null  float64
 16  SO2 Mean           608699 non-null  float64
 17  SO2 1st Max Value  608699 non-null  float64
 18  SO2 1st Max Hour   608699 non-null  int64
 19  SO2 AQI            608699 non-null  float64
 20  NO2 Mean           608699 non-null  float64
 21  NO2 1st Max Value  608699 non-null  float64
 22  NO2 1st Max Hour   608699 non-null  int64
 23  NO2 AQI            608699 non-null  int64
dtypes: float64(10), int64(9), object(5)
memory usage: 111.5+ MB

In [3]:
dataset = dataset.drop(['City','Address','County'], axis=1)

In [4]:
dataset = dataset.drop(['State'], axis=1)
pollutants = ['no2_aqi', 'o3_aqi', 'so2_aqi', 'co_aqi']

grouped_data = dataset.groupby(['Date']).mean()
grouped_data.index = pd.to_datetime(grouped_data.index)
grouped_data.head()

,Year,Month,Day,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
Date,,,,,,,,,,,,,,,,,,,
2000-01-01,2000.0,1.0,1.0,0.020742,0.028231,12.153846,26.153846,0.773897,1.407692,10.512821,16.000000,4.346910,9.384615,8.923077,13.384615,18.508666,33.923077,10.769231,32.307692
2000-01-02,2000.0,1.0,2.0,0.021207,0.030895,10.526316,28.631579,0.590316,1.000000,8.631579,11.342105,3.438415,8.052632,7.184211,11.315789,14.692258,28.736842,12.052632,27.184211
2000-01-03,2000.0,1.0,3.0,0.013568,0.022289,13.657895,20.605263,0.880811,1.415789,13.263158,16.131579,3.390395,8.184211,10.447368,11.605263,23.830700,40.736842,14.947368,37.315789
2000-01-04,2000.0,1.0,4.0,0.013322,0.020875,11.450000,19.350000,1.006128,1.582500,8.175000,18.050000,2.758615,7.150000,12.325000,10.125000,24.160910,41.700000,12.975000,38.650000
2000-01-05,2000.0,1.0,5.0,0.016361,0.025275,10.750000,23.300000,1.009010,1.567500,10.125000,17.775000,3.006528,8.100000,10.300000,11.375000,23.804671,42.450000,13.650000,38.700000

In [6]:
grouped_data.rename(columns = {'O3 AQI':'o3_aqi', 'CO AQI':'co_aqi','SO2 AQI':'so2_aqi','NO2 AQI':'no2_aqi'}, inplace = True)

In [7]:
grouped_data

,Year,Month,Day,O3 Mean,O3 1st Max Value,O3 1st Max Hour,o3_aqi,CO Mean,CO 1st Max Value,CO 1st Max Hour,co_aqi,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,so2_aqi,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,no2_aqi
Date,,,,,,,,,,,,,,,,,,,
2000-01-01,2000.0,1.0,1.0,0.020742,0.028231,12.153846,26.153846,0.773897,1.407692,10.512821,16.000000,4.346910,9.384615,8.923077,13.384615,18.508666,33.923077,10.769231,32.307692
2000-01-02,2000.0,1.0,2.0,0.021207,0.030895,10.526316,28.631579,0.590316,1.000000,8.631579,11.342105,3.438415,8.052632,7.184211,11.315789,14.692258,28.736842,12.052632,27.184211
2000-01-03,2000.0,1.0,3.0,0.013568,0.022289,13.657895,20.605263,0.880811,1.415789,13.263158,16.131579,3.390395,8.184211,10.447368,11.605263,23.830700,40.736842,14.947368,37.315789
2000-01-04,2000.0,1.0,4.0,0.013322,0.020875,11.450000,19.350000,1.006128,1.582500,8.175000,18.050000,2.758615,7.150000,12.325000,10.125000,24.160910,41.700000,12.975000,38.650000
2000-01-05,2000.0,1.0,5.0,0.016361,0.025275,10.750000,23.300000,1.009010,1.567500,10.125000,17.775000,3.006528,8.100000,10.300000,11.375000,23.804671,42.450000,13.650000,38.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-27,2021.0,10.0,27.0,0.018446,0.031143,8.714286,29.000000,0.180952,0.285714,5.285714,3.285714,0.753347,1.257143,9.857143,1.000000,13.079233,23.314286,12.428571,21.714286
2021-10-28,2021.0,10.0,28.0,0.017672,0.028143,10.285714,26.142857,0.172619,0.257143,6.000000,3.000000,0.843452,1.514286,4.857143,1.285714,13.754032,22.214286,10.571429,20.428571
2021-10-29,2021.0,10.0,29.0,0.016025,0.029286,9.571429,27.142857,0.210714,0.314286,12.000000,3.714286,1.001139,1.671429,11.857143,1.285714,14.975103,25.585714,18.571429,23.428571
2021-10-30,2021.0,10.0,30.0,0.013294,0.026857,10.000000,24.714286,0.275595,0.542857,10.428571,6.285714,1.154607,1.671429,12.857143,1.428571,15.927129,27.714286,20.285714,25.714286
2021-10-31,2021.0,10.0,31.0,0.023119,0.031571,10.428571,29.142857,0.335714,0.671429,2.571429,7.714286,1.291667,2.514286,10.428571,2.571429,15.112371,25.557143,18.142857,23.714286

In [8]:
from statsmodels.tsa.seasonal import seasonal_decompose
no2_dec = seasonal_decompose(grouped_data['no2_aqi'], model='additive', freq=365)
o3_dec = seasonal_decompose(grouped_data['o3_aqi'], model='additive', freq=365)
so2_dec = seasonal_decompose(grouped_data['so2_aqi'], model='additive', freq=365)
co_dec = seasonal_decompose(grouped_data['co_aqi'], model='additive', freq=365)

<ipython-input-8-8cd6af2e6090>:2: FutureWarning: the 'freq'' keyword is deprecated, use 'period' instead
  no2_dec = seasonal_decompose(grouped_data['no2_aqi'], model='additive', freq=365)
<ipython-input-8-8cd6af2e6090>:3: FutureWarning: the 'freq'' keyword is deprecated, use 'period' instead
  o3_dec = seasonal_decompose(grouped_data['o3_aqi'], model='additive', freq=365)
<ipython-input-8-8cd6af2e6090>:4: FutureWarning: the 'freq'' keyword is deprecated, use 'period' instead
  so2_dec = seasonal_decompose(grouped_data['so2_aqi'], model='additive', freq=365)
<ipython-input-8-8cd6af2e6090>:5: FutureWarning: the 'freq'' keyword is deprecated, use 'period' instead
  co_dec = seasonal_decompose(grouped_data['co_aqi'], model='additive', freq=365)

In [9]:
train = grouped_data[:'2018-01-01']
test = grouped_data['2018-01-01':'2021-01-01']

In [10]:
train.shape

(6576, 19)

In [11]:
test.shape

(1097, 19)

In [18]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
 
# creating model
m1 = RandomForestRegressor()
 
# separating class label and other attributes
train1 = train.drop(['co_aqi'], axis=1)
target = train['co_aqi']
 
# Fitting the model
m1.fit(train1, target)
'''RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)'''
 
# calculating the score and the score is  97.96360799890066%
m1.score(train1, target) * 100
 
# predicting the model with other values (testing the data)
# so AQI is 123.71

# Adaboost model
# importing module
 
# defining model
m2 = AdaBoostRegressor()
 
# Fitting the model
m2.fit(train1, target)
 
'''AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)'''
 
# calculating the score and the score is  96.15377360010211%
m2.score(train1, target)*100
 
# predicting the model with other values (testing the data)
# so AQI is 94.42105263

99.27705422901863

In [37]:
a = test.drop(['co_aqi'], axis=1)
b= test['co_aqi']
mod_pred_1 = m1.score(a,b)*100

mod_pred_2 = m2.score(a,b)*100

In [39]:
mod_pred_1,mod_pred_2

(99.84323091463865, 83.72813232861976)